@mixin _typography($name, $font-size, $line-height) {
  $font-size-number: strip-unit($font-size);

  :root {
    --lubycon-font-size-#{$name}: #{$font-size};
    --lubycon-line-height-#{$name}: #{$line-height};
  }

  .lubycon-font-size-#{$name} {
    font-size: $font-size;
    font-size: var(--lubycon-font-size-#{$name});
    line-height: $line-height;
    line-height: var(--lubycon-line-height-#{$name});
  }

  .lubycon-typography-#{$name} {
    @extend .lubycon-font-size-#{$name};
  }
}

@include _typography('h1', 2.625rem, 1.5);
@include _typography('h2', 2rem, 1.5);
@include _typography('h3', 1.75rem, 1.5);
@include _typography('h4', 1.625rem, 1.5);
@include _typography('h5', 1.5rem, 1.5);
@include _typography('h6', 1.25rem, 1.5);
@include _typography('subtitle', 1.125rem, 1.7);
@include _typography('p1', 1rem, 2);
@include _typography('p2', 0.9375rem, 1.7);
@include _typography('caption', 0.75rem, 1.6);
