button {
  font: inherit;
  outline: none;
  border: 0;
  margin: 0;
  padding: 0;
  text-align: inherit;
}

.lubycon-button {
  background-color: get-color('blue50');
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  
  &.small {
    height: 32px;
    padding: 4px 16px;
  }
  &.medium {
    height: 40px;
    padding: 8px 16px;
  }
  &.large {
    height: 56px;
    padding: 12px 32px;
  }

  &:hover, &:active {
    background-color: get-color('blue60');
  }
  &:disabled {
    color: get-color('gray60');
    background-color: get-color('gray40');
    cursor: not-allowed;
  }
}
