.lubycon-grid-column {
  position: relative;
  width: 100%;
  padding-right: ($gutter / 2);
  padding-left: ($gutter / 2);
}

@each $breakpoint, $size in $breakpoints {
  @for $i from 1 through $max-columns {
    .lubycon-grid-column--#{$breakpoint}__#{$i} {
      @include media-breakpoint($size) {
        flex: 0 0 auto;
        width: percentage($i / $max-columns);
      }
    }
  }
}
