.lubycon-icon {
  display: inline-block;
  &--outline {
    path {
      fill: transparent;
    }
  }
  &--filled {
    path {
      stroke: transparent;
    }
  }
  &__icon-body {
    &--hide-origin-icon {
      display: none;
    }
  }
  &__fallback-icon {
    display: none;
    &--show-fallback-icon {
      display: inline;
    }
  }
  svg {
    width: 100%;
    vertical-align: top;
  }
}
