.lubycon-modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  z-index: 1000;

  &--visible {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__overlay {
    background-color: get-color('gray100');
    opacity: 0.5;
  }
  &__window {
    background-color: get-color('gray10');
    border-radius: 4px;
    box-sizing: border-box;
    &--small {
      width: 280px;
      padding: 16px 20px;
    }
    &--medium {
      width: 400px;
      padding: 20px 24px;
    }
  }
  &__title {
    color: get-color('gray100');
    margin-top: 0;
    margin-bottom: 12px;
  }
  &__message {
    color: get-color('gray70');
    margin-top: 0;
    margin-bottom: 24px;
    white-space: pre-wrap;
  }
  &__buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
