.lubycon-modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  z-index: 1000;

  &__visible {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__overlay {
    background-color: get-color('gray100');
    opacity: 0.5;
  }
  &__content {
    background-color: get-color('gray10');
    border-radius: 4px;
    &__small {
      min-width: 280px;
      padding: 16px 20px;
    }
    &__medium {
      min-width: 400px;
      padding: 20px 24px;
    }
  }
  &__title {
    color: get-color('gray100');
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 12px;
  }
  &__description {
    color: get-color('gray70');
    margin-top: 0;
    margin-bottom: 24px;
  }
  &__buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
