@mixin direction($direction) {
  &--direction-#{$direction} {
    flex-direction: $direction;
  }
}
@mixin justify($align) {
  &--justify-#{$align} {
    justify-content: $align;
  }
}
@mixin alignItems($align) {
  &--align-items-#{$align} {
    align-items: $align;
  }
}

.lubycon-grid__row {
  display: flex;
  margin: #{-$grid-gutter / 2};
  flex-wrap: wrap;
  box-sizing: border-box;

  @include direction(row);
  @include direction(column);
  @include direction(row-reverse);
  @include direction(column-reverse);

  @include justify(flex-start);
  @include justify(center);
  @include justify(flex-end);
  @include justify(space-between);
  @include justify(space-around);
  @include justify(space-evenly);

  @include alignItems(flex-start);
  @include alignItems(center);
  @include alignItems(flex-end);
  @include alignItems(stretch);
  @include alignItems(baseline);
}
