.lubycon-selection {
  position: relative;
  display: inline-block;
  background-color: white;
  border: 1px solid get-color('gray30');
  border-radius: 8px;

  .lubycon-selection--select {
    width: 100%;
    background-color: transparent;
    appearance: none;
    outline: none;
    border: none;
    padding: 8px 36px 8px 16px;
  }

  .lubycon-icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    stroke: get-color('grey40');
  }
}
