$snackbar-margin: 12px;
$snackbar-container-padding: 48px;

.lubycon-snackbar {
  overflow: visible;

  .lubycon-snackbar__body {
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 12px 8px 12px 16px;
    width: 400px;
    border-radius: 4px;
    margin: 12px 0;
    -webkit-font-smoothing: antialiased;
    background-color: get-color('gray90');
    color: get-color('white');
  }

  .lubycon-snackbar__text {
    white-space: pre-line;
  }

  .lubycon-snackbar__body__buttons {
    margin-left: 16px;
    .lubycon-button {
      color: get-color('blue40');
      white-space: pre;
      &:hover {
        background-color: get-color('gray100');
      }
      & + & {
        margin-left: 8px;
      }
    }
  }

  &:first-of-type {
    .lubycon-snackbar__body {
      margin-bottom: 0;
    }
  }
}

%context-container {
  position: fixed;
  display: flex;
  flex-direction: column-reverse;
  top: auto;
  bottom: $snackbar-container-padding;
  left: $snackbar-container-padding;
  right: auto;
  margin: -$snackbar-margin 0;
}

.lubycon-snackbar__context-container {
  &--align-left {
    @extend %context-container;
    left: $snackbar-container-padding;
    right: auto;
  }
  &--align-center {
    @extend %context-container;
    left: 50%;
    transform: translateX(-50%);
    right: auto;
  }
  &--align-right {
    @extend %context-container;
    left: auto;
    right: $snackbar-container-padding;
  }
}
