@mixin tab-indicator-position {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

.lubycon-tabs {
  display: flex;
  position: relative;
  max-width: 100%;
  overflow-x: auto;
  @include remove-scroll-bar;

  &__item {
    position: relative;
    padding: 12px 24px;
    transition: color 0.2s ease-out;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    cursor: pointer;
    white-space: nowrap;

    &--selected {
      font-weight: bold;
      color: get-color('gray100');
    }

    &--disabled {
      cursor: not-allowed;
      color: get-color('gray40');
    }

    &::after {
      @include tab-indicator-position;
      background-color: get-color('gray30');
      height: 1px;
      transition: background-color 0.2s ease-out;
    }

    &:not([aria-disabled='true']):hover::after {
      background-color: get-color('gray80');
    }
  }

  &__indicator {
    @include tab-indicator-position;
    background-color: get-color('blue50');
    border-radius: 1px;
    height: 2px;
  }
}
