.lubycon-tags-input {
  &__tag {
    margin-right: 4px;
  }
  &__input {
    &--have-labels {
      padding: {
        top: 5px;
        bottom: 5px;
      }
    }
  }
  &__all-delete-button {
    display: flex;
    cursor: pointer;
  }
}
