$toast-margin: 12px;
$toast-container-padding: 48px;

.lubycon-toast {
  overflow: visible;

  .lubycon-toast__body {
    display: inline-block;
    padding: 8px 16px;
    min-width: 336px;
    border-radius: 4px;
    background-color: get-color('gray80');
    margin: $toast-margin 0;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    &--align-left {
      text-align: left;
    }
    &--align-center {
      text-align: center;
      min-width: auto;
    }
    &--align-right {
      text-align: right;
    }
  }

  .lubycon-toast__text {
    white-space: pre;
  }

  &:first-of-type {
    .lubycon-toast__body {
      margin-bottom: 0;
    }
  }
}

%context-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: $toast-container-padding;
  bottom: auto;
  margin: -$toast-margin 0;
}

.lubycon-toast__context-container {
  &--align-left {
    @extend %context-container;
    left: $toast-container-padding;
    right: auto;
  }
  &--align-center {
    @extend %context-container;
    left: 50%;
    transform: translateX(-50%);
    right: auto;
  }
  &--align-right {
    @extend %context-container;
    left: auto;
    right: $toast-container-padding;
  }
}
