.column {
  max-width: 100%;
  flex-grow: 1;
  flex-basis: 0;
}

.column,
.column-1,
.column-10,
.column-11,
.column-12,
.column-2,
.column-3,
.column-4,
.column-5,
.column-6,
.column-7,
.column-8,
.column-9,
.column-auto,
.column-lg,
.column-lg-1,
.column-lg-10,
.column-lg-11,
.column-lg-12,
.column-lg-2,
.column-lg-3,
.column-lg-4,
.column-lg-5,
.column-lg-6,
.column-lg-7,
.column-lg-8,
.column-lg-9,
.column-lg-auto,
.column-md,
.column-md-1,
.column-md-10,
.column-md-11,
.column-md-12,
.column-md-2,
.column-md-3,
.column-md-4,
.column-md-5,
.column-md-6,
.column-md-7,
.column-md-8,
.column-md-9,
.column-md-auto,
.column-sm,
.column-sm-1,
.column-sm-10,
.column-sm-11,
.column-sm-12,
.column-sm-2,
.column-sm-3,
.column-sm-4,
.column-sm-5,
.column-sm-6,
.column-sm-7,
.column-sm-8,
.column-sm-9,
.column-sm-auto,
.column-xl,
.column-xl-1,
.column-xl-10,
.column-xl-11,
.column-xl-12,
.column-xl-2,
.column-xl-3,
.column-xl-4,
.column-xl-5,
.column-xl-6,
.column-xl-7,
.column-xl-8,
.column-xl-9,
.column-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
