$colors: (
/*
  Semantic Color
  Positive
 */
  'green50': #00A438,
  'green40': #78CF81,
  'green60': #00A438,
/*
  Informative
 */
  'blue50': #054EDC,
  'blue40': #87ADF5,
  'blue60': #013CAD,
/*
  Negative
 */
  'red50': #CB121C,
  'red40': #F29CA1,
  'red60': #9B0B13,
/*
  Notice
 */
  'yellow50': #F0CB08,
  'yellow40': #F9E681,
  'yellow60': #AA8F00,

/*
  Gray Scale
  100-10 (단위 10)
 */
  'gray100': #1B1B1C,
  'gray90': #2A2A2C,
  'gray80': #4C4D53,
  'gray70': #76777D,
  'gray60': #8E9095,
  'gray50': #B5B6B9,
  'gray40': #D0D1D3,
  'gray30': #E3E4E5,
  'gray20': #F3F4F5,
  'gray10': #FCFCFD,
);

@mixin palette($name, $value) {
  :root {
    --lubycon-#{$name}: #{$value};
  }

  .lubycon-#{$name} {
    color: #{$value};
  }

  .lubycon-color-positive--default {
    color: var(--lubycon-green50);
  }

  .lubycon-color-informative--default {
    color: var(--lubycon-blue50);
  }

  .lubycon-color-negative--default {
    color: var(--lubycon-red50);
  }

  .lubycon-color-notice--default {
    color: var(--lubycon-yellow50);
  }
}

@each $name, $value in $colors {
  @include palette($name, $value);
}
