@mixin shadow($shadow-level, $offset-y, $blur-radius) {
  $shadow: '0px #{$offset-y} #{$blur-radius} rgba(0, 0, 0, 0.1)';

  :root {
    --lubycon-shadow-#{$shadow-level}: #{$shadow};
  }

  .lubycon-shadow--#{$shadow-level} {
    box-shadow: #{$shadow};
    box-shadow: var(--lubycon-shadow-#{$shadow-level});
  }
}

@include shadow(1, 2px, 5px);
@include shadow(2, 3px, 5px);
@include shadow(3, 6px, 10px);
@include shadow(4, 8px, 12px);
@include shadow(5, 24px, 48px);
