@mixin _typography($name, $font-size, $font-weight, $line-height) {
  $font-size-number: strip-unit($font-size);

  :root {
    --lubycon-font-size-#{$font-size-number}: #{$font-size};
    --lubycon-line-height-#{$font-size-number}: #{$line-height};
  }

  .lubycon-font-size--#{$font-size-number} {
    font-size: $font-size;
    font-size: var(--lubycon-font-size-#{$font-size-number});
    line-height: $line-height;
    line-height: var(--lubycon-line-height-#{$font-size-number});
  }

  .lubycon-typography--#{$name} {
    @extend .lubycon-font-size--#{$font-size-number};
    @extend .lubycon-font-weight--#{$font-weight};
  }
}

@include _typography('h1', 42px, 'light', 63px);
@include _typography('h2', 32px, 'light', 48px);
@include _typography('h3', 28px, 'regular', 42px);
@include _typography('h4', 26px, 'regular', 40px);
@include _typography('h5', 24px, 'bold', 40px);
@include _typography('h6', 20px, 'bold', 40px);

@include _typography('subtitle', 18px, 'regular', 31px);
@include _typography('button', 16px, 'bold', 28px);
@include _typography('content', 15px, 'regular', 26px);
@include _typography('content2', 13px, 'regular', 22px);
@include _typography('caption', 12px, 'regular', 21px);
