@mixin _typography($name, $font-size, $line-height) {
  $font-size-number: strip-unit($font-size);

  :root {
    --lubycon-font-size-#{$font-size-number}: #{$font-size};
    --lubycon-line-height-#{$font-size-number}: #{$line-height};
  }

  .lubycon-font-size--#{$font-size-number} {
    font-size: $font-size;
    font-size: var(--lubycon-font-size-#{$font-size-number});
    line-height: $line-height;
    line-height: var(--lubycon-line-height-#{$font-size-number});
  }

  .lubycon-typography--#{$name} {
    @extend .lubycon-font-size--#{$font-size-number};
  }
}

@include _typography('h1', 42px, 64px);
@include _typography('h2', 32px, 48px);
@include _typography('h3', 28px, 42px);
@include _typography('h4', 26px, 40px);
@include _typography('h5', 24px, 36px);
@include _typography('h6', 20px, 30px);
@include _typography('subtitle', 18px, 30px);
@include _typography('content', 16px, 28px);
@include _typography('content2', 14px, 24px);
@include _typography('caption', 12px, 20px);
