@mixin hoverAndActiveStyle($color) {
  &:hover,
  &:active {
    background-color: get-color($color);
  }
}

.lubycon-button {
  font: inherit;
  text-align: inherit;
  outline: none;
  border: 0;
  margin: 0;
  background-color: transparent;
  border-radius: 4px;
  color: get-color('gray90');
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  transition: background-color 0.2s ease-in-out;

  @include hoverAndActiveStyle('gray20');

  &--small {
    padding: 4px 16px;
  }
  &--medium {
    padding: 8px 16px;
  }
  &--large {
    padding: 12px 32px;
    border-radius: 8px;
  }

  &--type-informative {
    background-color: get-color('blue50');
    color: get-color('white');
    @include hoverAndActiveStyle('blue60');
  }
  &--type-positive {
    background-color: get-color('green50');
    color: get-color('white');
    @include hoverAndActiveStyle('green60');
  }
  &--type-notice {
    background-color: get-color('yellow50');
    color: get-color('white');
    @include hoverAndActiveStyle('yellow60');
  }
  &--type-negative {
    background-color: get-color('red50');
    color: get-color('white');
    @include hoverAndActiveStyle('red60');
  }

  &:disabled {
    color: get-color('gray60');
    background-color: get-color('gray40');
    cursor: not-allowed;
  }
}
