$card-padding: 16px 20px;
$default-radius: 4px;

.lubycon-card {
  display: flex;
  flex-direction: column;
  border-radius: $default-radius;
  overflow: hidden;
  background-color: get-color('white');
  &__header {
    order: 0;
    padding: $card-padding;
    border-bottom: 1px solid get-color('gray30');
    overflow: hidden;
  }
  &__content {
    order: 1;
    padding: $card-padding;
  }
  &__image-content {
    img {
      width: 100%;
      vertical-align: top;
    }
  }
  &__footer {
    display: flex;
    order: 2;
    padding: $card-padding;
    &--align-flex-start {
      justify-content: flex-start;
    }
    &--align-center {
      justify-content: center;
    }
    &--align-flex-end {
      justify-content: flex-end;
    }
  }
}
