.lubycon-icon {
  display: inline-block;
  fill: currentColor;

  &__icon-body {
    &--hide-origin-icon {
      display: none;
    }
  }
  &__fallback-icon {
    display: none;
    vertical-align: top;
    &--show-fallback-icon {
      display: inline-block;
    }
  }
  svg {
    width: 100%;
    vertical-align: top;
  }
}
