$label-vertical-space: 4px;
$label-horizontal-space: 12px;

.lubycon-progress-bar {
  display: flex;

  &--direction-row {
    flex-direction: row;
    align-items: center;
  }
  &--direction-column {
    flex-direction: column;
  }

  &__label {
    text-align: center;
    &--position-top {
      margin-bottom: $label-vertical-space;
      order: 0;
    }
    &--position-bottom {
      margin-top: $label-vertical-space;
      order: 2;
    }
    &--position-right {
      margin-left: $label-horizontal-space;
      order: 2;
    }
    &--position-left {
      margin-right: $label-horizontal-space;
      order: 0;
    }
  }
  &__bar {
    display: flex;
    flex-grow: 1;
    order: 1;
    width: 100%;
    background-color: get-color('gray30');
    height: 4px;
    border-radius: 100px;
    overflow: hidden;
    &__fill {
      transition: width 0.3s ease-out;
      background-color: get-color('blue50');
    }
  }
}
