.lubycon-selection {
  position: relative;
  display: inline-block;
  background-color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: get-color('gray20');
  }

  &--disabled {
    background-color: get-color('gray40');
    cursor: not-allowed;
    &:hover {
      background-color: get-color('gray40');
    }
  }

  &--empty select.lubycon-selection__select {
    color: get-color('gray50');
  }

  &--size-small {
    .lubycon-selection__select {
      padding: 4px 32px 4px 16px;
    }
  }
  &--size-medium {
    .lubycon-selection__select {
      padding: 8px 36px 8px 16px;
    }
  }
  &--size-large {
    .lubycon-selection__select {
      padding: 12px 60px 12px 20px;
    }
  }

  .lubycon-selection__select {
    width: 100%;
    background-color: transparent;
    appearance: none;
    outline: none;
    border: none;
    cursor: inherit;
  }

  .lubycon-icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    stroke: get-color('grey40');
  }
}
