.lubycon-table {
  word-break: break-all;
	border-collapse: collapse;
  color: get-color('gray100');

  &__head {
    background-color: get-color('gray20');
  }
  &__body {
    background-color: get-color('gray10');
    .lubycon-table__row:not(:last-child) {
      border-bottom: 1px solid get-color('gray20');
    }
  }
  &__cell {
    padding: 8px 20px;
  }

  &--align {
    &-left {
      text-align: left;
    }
    &-center {
      text-align: center;
    }
    &-right {
      text-align: right;
    }
  }
}
